In [15]:
import pandas as pd
import sklearn as sk
from sklearn.model_selection import train_test_split

In [16]:
df = pd.read_csv(r"C:\Users\caioe\OneDrive\Desktop\Formação CD\16.Estatística I - Prática em Python\iris.csv")

df['class'].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [17]:
df

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [20]:
x, _,y, _ = train_test_split(df.iloc[:,0:4],df.iloc[:, 4], test_size = 0.5, stratify = df.iloc[:,4])

In [22]:
y.value_counts()

class
Iris-versicolor    25
Iris-virginica     25
Iris-setosa        25
Name: count, dtype: int64

In [23]:
df_infert = pd.read_csv(r"C:\Users\caioe\OneDrive\Desktop\Formação CD\16.Estatística I - Prática em Python\infert.csv")

In [24]:
df_infert

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32
...,...,...,...,...,...,...,...,...,...
243,244,12+ yrs,31,1,0,0,1,79,45
244,245,12+ yrs,34,1,0,0,0,80,47
245,246,12+ yrs,35,2,2,0,0,81,54
246,247,12+ yrs,29,1,0,0,1,82,43
247,248,12+ yrs,23,1,0,0,1,83,40

In [27]:
x1,_,y1,_= train_test_split(df_infert.iloc[:,2:9], df_infert.iloc[:, 1], test_size = 0.6, stratify = df_infert.iloc[:,1])
y1.value_counts()

education
6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: count, dtype: int64